*,
*::after,
*::before {
  box-sizing: border-box;
}

.topnav {
    display: flex;
    justify-content: space-between;
}

.left-nav {
    display: flex;
    background-color: aqua;
}

main {
    background-color: rgb(39, 36, 36);
}